.men_section{
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    height: 90vh;
    padding-left: 3.5rem;
    padding-top: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

.men_section .men_shoes{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    height: 15rem;
    display: flex;
    width: 40rem;
    margin-bottom: 1rem;
}

.men_section .men_shoes .img{
    height: 100%;
    min-width: 15rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.men_section .men_shoes img{
    position: relative;

    height: 90%;
    width: 90%;
   
}

.men_section .men_shoes h2{
    margin-top: .3rem;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;

}

.men_section .info{
    padding-left: 1rem;
}

.men_section .info .meta{
    position: relative;
    top: 1rem;
    width: 80%;
    height: 3.5rem;
}

.men_section .info .price{
    position: relative;
    top: 2rem;

    font-size: 20px;
}

.men_section .info .buy{
    font-size: 18px;
    height: 3rem;
    width: 5rem;
    margin-right: 1rem;
}


.men_section .info button{
    cursor: pointer;
    position: relative;
    margin-top: 4rem;
    width: 7rem;
}

.men_section .info .cart{
    position: absolute;
    font-size: 16px;
    height: 3rem;
    width:  10rem;

}